/* Generated SCSS variables with values from the palette */
$palette-primary-50: #F0F7FF;
$palette-primary-100: #C2E0FF;
$palette-primary-200: #99CCF3;
$palette-primary-300: #66B2FF;
$palette-primary-400: #3399FF;
$palette-primary-500: #007FFF;
$palette-primary-600: #0072E5;
$palette-primary-700: #0059B2;
$palette-primary-800: #004C99;
$palette-primary-900: #003A75;
$palette-primary-main: #007FFF;
$palette-primary-light: #66B2FF;
$palette-primary-dark: #0059B2;
$palette-primary-contrast-text: #fff;
$palette-divider: #E7EBF0;
$palette-primary-dark-50: #E2EDF8;
$palette-primary-dark-100: #CEE0F3;
$palette-primary-dark-200: #91B9E3;
$palette-primary-dark-300: #5090D3;
$palette-primary-dark-400: #265D97;
$palette-primary-dark-500: #1E4976;
$palette-primary-dark-600: #173A5E;
$palette-primary-dark-700: #132F4C;
$palette-primary-dark-800: #001E3C;
$palette-primary-dark-900: #0A1929;
$palette-primary-dark-main: #5090D3;
$palette-common-black: #1D1D1D;
$palette-common-white: #fff;
$palette-text-primary: #1A2027;
$palette-text-secondary: #3E5060;
$palette-text-disabled: rgba(0, 0, 0, 0.38);
$palette-grey-50: #F3F6F9;
$palette-grey-100: #E7EBF0;
$palette-grey-200: #E0E3E7;
$palette-grey-300: #CDD2D7;
$palette-grey-400: #B2BAC2;
$palette-grey-500: #A0AAB4;
$palette-grey-600: #6F7E8C;
$palette-grey-700: #3E5060;
$palette-grey-800: #2D3843;
$palette-grey-900: #1A2027;
$palette-grey-a100: #f5f5f5;
$palette-grey-a200: #eeeeee;
$palette-grey-a400: #bdbdbd;
$palette-grey-a700: #616161;
$palette-error-50: #FFF0F1;
$palette-error-100: #FFDBDE;
$palette-error-200: #FFBDC2;
$palette-error-300: #FF99A2;
$palette-error-400: #FF7A86;
$palette-error-500: #FF505F;
$palette-error-600: #EB0014;
$palette-error-700: #C70011;
$palette-error-800: #94000D;
$palette-error-900: #570007;
$palette-error-main: #EB0014;
$palette-error-light: #FF99A2;
$palette-error-dark: #C70011;
$palette-error-contrast-text: #fff;
$palette-success-50: #E9FBF0;
$palette-success-100: #C6F6D9;
$palette-success-200: #9AEFBC;
$palette-success-300: #6AE79C;
$palette-success-400: #3EE07F;
$palette-success-500: #21CC66;
$palette-success-600: #1DB45A;
$palette-success-700: #1AA251;
$palette-success-800: #178D46;
$palette-success-900: #0F5C2E;
$palette-success-main: #1AA251;
$palette-success-light: #6AE79C;
$palette-success-dark: #1AA251;
$palette-success-contrast-text: #fff;
$palette-warning-50: #FFF9EB;
$palette-warning-100: #FFF3C1;
$palette-warning-200: #FFECA1;
$palette-warning-300: #FFDC48;
$palette-warning-400: #F4C000;
$palette-warning-500: #DEA500;
$palette-warning-600: #D18E00;
$palette-warning-700: #AB6800;
$palette-warning-800: #8C5800;
$palette-warning-900: #5A3600;
$palette-warning-main: #DEA500;
$palette-warning-light: #FFDC48;
$palette-warning-dark: #AB6800;
$palette-warning-contrast-text: rgba(0, 0, 0, 0.87);
$palette-secondary-main: #9c27b0;
$palette-secondary-light: #ba68c8;
$palette-secondary-dark: #7b1fa2;
$palette-secondary-contrast-text: #fff;
$palette-info-main: #0288d1;
$palette-info-light: #03a9f4;
$palette-info-dark: #01579b;
$palette-info-contrast-text: #fff;
$palette-contrast-threshold: 3;
$palette-tonal-offset: 0.2;
$palette-background-paper: #fff;
$palette-background-default: #fff;
$palette-action-active: rgba(0, 0, 0, 0.54);
$palette-action-hover: rgba(0, 0, 0, 0.04);
$palette-action-hover-opacity: 0.04;
$palette-action-selected: rgba(0, 0, 0, 0.08);
$palette-action-selected-opacity: 0.08;
$palette-action-disabled: rgba(0, 0, 0, 0.26);
$palette-action-disabled-background: rgba(0, 0, 0, 0.12);
$palette-action-disabled-opacity: 0.38;
$palette-action-focus: rgba(0, 0, 0, 0.12);
$palette-action-focus-opacity: 0.12;
$palette-action-activated-opacity: 0.12;


/* Export the SCSS variables to JS variables */
:export {
  palettePrimary50: $palette-primary-50;
  palettePrimary100: $palette-primary-100;
  palettePrimary200: $palette-primary-200;
  palettePrimary300: $palette-primary-300;
  palettePrimary400: $palette-primary-400;
  palettePrimary500: $palette-primary-500;
  palettePrimary600: $palette-primary-600;
  palettePrimary700: $palette-primary-700;
  palettePrimary800: $palette-primary-800;
  palettePrimary900: $palette-primary-900;
  palettePrimaryMain: $palette-primary-main;
  palettePrimaryLight: $palette-primary-light;
  palettePrimaryDark: $palette-primary-dark;
  palettePrimaryContrastText: $palette-primary-contrast-text;
  paletteDivider: $palette-divider;
  palettePrimaryDark50: $palette-primary-dark-50;
  palettePrimaryDark100: $palette-primary-dark-100;
  palettePrimaryDark200: $palette-primary-dark-200;
  palettePrimaryDark300: $palette-primary-dark-300;
  palettePrimaryDark400: $palette-primary-dark-400;
  palettePrimaryDark500: $palette-primary-dark-500;
  palettePrimaryDark600: $palette-primary-dark-600;
  palettePrimaryDark700: $palette-primary-dark-700;
  palettePrimaryDark800: $palette-primary-dark-800;
  palettePrimaryDark900: $palette-primary-dark-900;
  palettePrimaryDarkMain: $palette-primary-dark-main;
  paletteCommonBlack: $palette-common-black;
  paletteCommonWhite: $palette-common-white;
  paletteTextPrimary: $palette-text-primary;
  paletteTextSecondary: $palette-text-secondary;
  paletteTextDisabled: $palette-text-disabled;
  paletteGrey50: $palette-grey-50;
  paletteGrey100: $palette-grey-100;
  paletteGrey200: $palette-grey-200;
  paletteGrey300: $palette-grey-300;
  paletteGrey400: $palette-grey-400;
  paletteGrey500: $palette-grey-500;
  paletteGrey600: $palette-grey-600;
  paletteGrey700: $palette-grey-700;
  paletteGrey800: $palette-grey-800;
  paletteGrey900: $palette-grey-900;
  paletteGreyA100: $palette-grey-a100;
  paletteGreyA200: $palette-grey-a200;
  paletteGreyA400: $palette-grey-a400;
  paletteGreyA700: $palette-grey-a700;
  paletteError50: $palette-error-50;
  paletteError100: $palette-error-100;
  paletteError200: $palette-error-200;
  paletteError300: $palette-error-300;
  paletteError400: $palette-error-400;
  paletteError500: $palette-error-500;
  paletteError600: $palette-error-600;
  paletteError700: $palette-error-700;
  paletteError800: $palette-error-800;
  paletteError900: $palette-error-900;
  paletteErrorMain: $palette-error-main;
  paletteErrorLight: $palette-error-light;
  paletteErrorDark: $palette-error-dark;
  paletteErrorContrastText: $palette-error-contrast-text;
  paletteSuccess50: $palette-success-50;
  paletteSuccess100: $palette-success-100;
  paletteSuccess200: $palette-success-200;
  paletteSuccess300: $palette-success-300;
  paletteSuccess400: $palette-success-400;
  paletteSuccess500: $palette-success-500;
  paletteSuccess600: $palette-success-600;
  paletteSuccess700: $palette-success-700;
  paletteSuccess800: $palette-success-800;
  paletteSuccess900: $palette-success-900;
  paletteSuccessMain: $palette-success-main;
  paletteSuccessLight: $palette-success-light;
  paletteSuccessDark: $palette-success-dark;
  paletteSuccessContrastText: $palette-success-contrast-text;
  paletteWarning50: $palette-warning-50;
  paletteWarning100: $palette-warning-100;
  paletteWarning200: $palette-warning-200;
  paletteWarning300: $palette-warning-300;
  paletteWarning400: $palette-warning-400;
  paletteWarning500: $palette-warning-500;
  paletteWarning600: $palette-warning-600;
  paletteWarning700: $palette-warning-700;
  paletteWarning800: $palette-warning-800;
  paletteWarning900: $palette-warning-900;
  paletteWarningMain: $palette-warning-main;
  paletteWarningLight: $palette-warning-light;
  paletteWarningDark: $palette-warning-dark;
  paletteWarningContrastText: $palette-warning-contrast-text;
  paletteSecondaryMain: $palette-secondary-main;
  paletteSecondaryLight: $palette-secondary-light;
  paletteSecondaryDark: $palette-secondary-dark;
  paletteSecondaryContrastText: $palette-secondary-contrast-text;
  paletteInfoMain: $palette-info-main;
  paletteInfoLight: $palette-info-light;
  paletteInfoDark: $palette-info-dark;
  paletteInfoContrastText: $palette-info-contrast-text;
  paletteContrastThreshold: $palette-contrast-threshold;
  paletteTonalOffset: $palette-tonal-offset;
  paletteBackgroundPaper: $palette-background-paper;
  paletteBackgroundDefault: $palette-background-default;
  paletteActionActive: $palette-action-active;
  paletteActionHover: $palette-action-hover;
  paletteActionHoverOpacity: $palette-action-hover-opacity;
  paletteActionSelected: $palette-action-selected;
  paletteActionSelectedOpacity: $palette-action-selected-opacity;
  paletteActionDisabled: $palette-action-disabled;
  paletteActionDisabledBackground: $palette-action-disabled-background;
  paletteActionDisabledOpacity: $palette-action-disabled-opacity;
  paletteActionFocus: $palette-action-focus;
  paletteActionFocusOpacity: $palette-action-focus-opacity;
  paletteActionActivatedOpacity: $palette-action-activated-opacity;
}
